@model Freelancer.Models.Order

@{
    ViewData["Title"] = "Изтриване";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте че искате да изтриете тази заявка?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Обява
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jobs.Title)
        </dd>
        <dt class = "col-sm-2">
            Потребител
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>
        <dt class = "col-sm-2">
            Приета
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Обратно към листа</a>
    </form>
</div>
