@model Freelancer.Models.Order

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>

<div>
    <h4>на заявката</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Обява за работа
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jobs.Title)
        </dd>
        <dt class = "col-sm-2">
            Потребител
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>
        <dt class = "col-sm-2">
            Приета
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsApproved)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm">Редактиране</a> |
    <a asp-action="Index" class="btn btn-secondary">Обратно към листа</a>
</div>
