@model Freelancer.Models.Job

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете тази обява?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Заглавие
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            Описание
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Тип на обявата
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobType.Id)
        </dd>
        <dt class = "col-sm-2">
            Дата на създаване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтриване" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Обратно към листа</a>
    </form>
</div>
