@{
    ViewData["Title"] = "About us";
}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">About us</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img class="bi" width="50px" height="50px" src="/icons/collection_1.png"/>
            </div>
            <h3 class="fs-2">Start up comfortably</h3>
            <p>
                Get the job done with simple steps. Any job from a small project to a big one easy to complete!
            </p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img class="bi" width="50px" height="50px" src="/icons/person.png" />
            </div>
            <h3 class="fs-2">Experienced and done</h3>
            <p>Better jobs by any amount and at any price, more open space to become a professional!</p>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                <img class="bi" width="50px" height="50px" src="/icons/collection_1.png" />
            </div>
            <h3 class="fs-2">Professional entry</h3>
            <p>Finding side projects from companies over the world, offer different advanced jobs and great income!</p>
        </div>
    </div>
</div>
