@{
    ViewData["Title"] = "Начална страница";
}

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-3" src="~/images/image.png" alt="Home image"/>
    </div>
    <div class="col-lg-7 pt-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">
            Където се случва <br /> работата
        </h1>
        <p class="lead">
            Когато вашият екип трябва да започне проект, да наемете нов <br /> служител, да се разположи някакъв код, да се прегледа договор за продажба, да се финализира <br /> бюджета за следващата година, да планирайте отварянето на следващия си <br /> офис, и повече, Freelancer ви е покрил.
        </p>
    </div>
    
</div>
