@{
    ViewData["Title"] = "Home Page";
}

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
    <div class="col-lg-7 pt-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">
            Welcome
        </h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec neque in ex imperdiet imperdiet. Vestibulum aliquet lacinia pretium. Nullam pharetra pretium sapien eu tempus. Sed pellentesque sem eget ex porta placerat. Nullam cursus eros diam, sed dapibus justo fringilla vel. Vestibulum quis nunc fermentum, volutpat diam in, auctor nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. In aliquet, lectus vel cursus eleifend, purus ante sollicitudin quam, ut venenatis nulla nisl vitae magna.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">
                Primary
            </button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">
                Default
            </button>
        </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="~/images/bootstrap-docs.png" alt="Home image" width="720" />
    </div>
</div>
