@{
    ViewData["Title"] = "Home Page";
}

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
        <img class="rounded-lg-3" src="~/images/image.png" alt="Home image"/>
    </div>
    <div class="col-lg-7 pt-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">
            Where Work <br /> Happens
        </h1>
        <p class="lead">
            When your team needs to kick off a project, hire a new <br /> employee, deploy some code, review a sales contract, finalize <br /> next year's budget, measure an A/B test, plan your next office <br /> opening, and more, Freelancer has you covered.
        </p>
    </div>
    
</div>
