@model Freelancer.Models.JobType

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>

<div>
    <h4>Тип на обявата</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Име
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Дата на създаване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-sm">Редактиране</a> |
    <a asp-action="Index" class="btn btn-secondary">Обратно към листа</a>
</div>
