@model Freelancer.Models.Order

@{
    ViewData["Title"] = "Accept";
}

<h1>Accept</h1>

<h3>Are you sure you want to accept this job?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Jobs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Jobs.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Users.UserName)
        </dd>
    </dl>

    <form asp-action="Accept">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Accept" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
